.leaflet-control-geosearch {
    position: fixed;
    left: 40%;
    /* margin: 0px; */
    /* justify-content: center; */
    width: 300px;
    height: 32px;
    background: white;
    pointer-events: auto;
}

.leaflet-control-geosearch .leafleat-bar-part {
  display: none;
}

.glass {
  width: 250px;
}

.reset {
  display: inline-block !important;
  margin-left: 5px;
  width: 16px;
}

.results.active {
  background-color: white;
}

.results.active div :focus{
  background-color: gray !important;
}

.leaflet-bar-part.leaflet-bar-part-single {
  display: none !important;
}
