.map {
    height: 95vh;
    width: 100vw;
    top: calc(100vh - 95vh);
    position: absolute;
    z-index: -1;
  }


.path {
  left: 0;
  position: relative;
  top: 10px;
  z-index: 1;
}

.leaflet-routing-container {
  background: white;
  max-width: 300px;
  max-height: 80vh;
  overflow-y: scroll;
  top: 5vh;
  width: 100%;
  height: 100%;
  padding: 5px;
  transition: width .5s, height .5s linear;
}

.leaflet-routing-container.hidden {
  width: 0px;
  height: 0px;
  transition: width .5s, height .5s linear;
}

.leaflet-routing-alt {
  pointer-events: none;
}

.leaflet-control-zoom {
  top: 5vh;
}

.spinning-loader {
  display: contents;
}